
{% extends "maintemplate.html" %}

{% block title %}BookOut - Book Info{% endblock %}

{% block content %}
<div class="row">

	<h3>Book Information</h3>
	
	<p><b>Title:</b> ...Title will go here...</p>
	<p><b>Author:</b> ...Author will go here...</p>
	<p><b>ISBN:</b> ...ISBN will go here...</p>
	<p><b>Publication Date:</b> ...Publication date will go here...</p>
	<p><b>Description:</b> ...Description will go here...</p>
	
</div>

<div class="row">

	<h3>Book Status</h3>
	
	...The table displaying all current statuses of this book will go here...

</div>
{% endblock %}