
{% extends "maintemplate.html" %}

{% block title %}Connection Request{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">

		<h3>Send Request to Connect</h3>

		<p>Please confirm your intention to send a connection request to [user]. Once [user] accepts your request, [user]'s books will appear in your network and within applicable search results.</p>
		<br/><br/>
		<a class="btn btn-inverse">Send Request</a>
		<a class="btn">Cancel</a>
		
	</div>
</div>
<br>
{% endblock %}