
{% extends "maintemplate.html" %}

{% block title %}Connection Request{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>

<script type="text/javascript">

function sendRequest() {
	$.ajax({
		url:"/manage_network/" + {{ connectUserID }},
		type: 'POST',
		success:function(data) {
			$("#sendSuccess").show();
		}
	});
	return false;
}

function hideSuccessAlert() {
	$("#sendSuccess").hide();
}

</script>

{% endblock %}

{% block content %}

<div class="row" style="position:relative">
	<div class="span6 offset3" style="position:absolute;top:50px;">
		<div id="sendSuccess" class="alert alert-block alert-info" style="display: none;">
			<a class="close" onclick="hideSuccessAlert()">×</a>
			<h4>Success!</h4>
			<p>
				You have successfully requested to connect with USERNAME. Once USERNAME accepts your request, USERNAME's books will appear in your network and within applicable search results.
			<a href="/">Contine to your dashboard</a>.
			</p>
			<br>
			<a class="btn" onclick="hideSuccessAlert()">Close</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">

		<h3>Send Request to Connect</h3>

		<p>Please confirm your intention to send a connection request to {{ connectUserID }}. Once USERNAME accepts your request, USERNAME's books will appear in your network and within applicable search results.</p>
		<br/><br/>
		<a class="btn btn-inverse" onclick="sendRequest()">Send Request</a>
		<a class="btn" href="/">Cancel</a>
		
	</div>
</div>

{% endblock %}