{% extends "maintemplate.html" %}

{% block title %}Bookout: The Place to Share Books{% endblock %}

{% block script %}

<script type="text/javascript">

	var connectModalMessage
	
	// Show intro modal if not logged in (modal html is within an if block)
	$("#introModal").modal('show');
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
		
	});
	
	$(function() {
		// If attempting to connect, set message appropriate to connection type
		if ({{ connectType }} != 0) { // no connect type (don't show modal)
			if ({{ connectType }} == 1) { // invalid user
				connectModalMessage = "The connection link you provided includes an invalid User ID. Please check the link and try again.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			}else if ({{ connectType }} == 2) { // valid user
				connectModalMessage = "Please confirm your intention to send a connection request to {{ connectUserName }}. Once {{ connectUserName }} accepts your request, {{ connectUserName }}'s books will appear in your network and within applicable search results.";
			}else if ({{ connectType }} == 3) { // own self
				connectModalMessage = "You cannot connect with yourself. Please use the link you provided as an invitation to others to connect with you.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			}else if ({{ connectType }} == 4) { // already a connection
				connectModalMessage = "You are attempting to connect with {{ connectUserName }}, but {{ connectUserName }} is already one of your connections. Click Network in the header to see a list of all your connections.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			}
			
			// Show modal
			$("#connectModalMessage").text(connectModalMessage);
			$("#connectModal").modal('show');
		}
		
		$('.datepicker').on('dateChanged', function(ev) {
			alert("Update the due date!");
		});
	});
	
	// Send connection request to user in invitation link
	function sendRequest() {
		$.ajax({
			url:"/manage_network/" + {{ connectUserID }},
			type: 'POST',
			success:function(data) {
				//update pending requests;
				window.location='/';
			}
		});
		return false;
	}
	
	function accept_request(notificationID, button) {
		$.ajax({
			url: "/confirm_notification/" + notificationID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#pending_requests tr:visible").length == 0) {
					$("#pending_requests").html("<tr><td colspan='3'>You have no pending requests.</td></tr>");
				}
			}
		});
		
		return false;
	}
	
	function reject_request(notificationID, button) {
		$.ajax({
			url: "/reject_notification/" + notificationID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#pending_requests tr:visible").length == 0) {
					$("#pending_requests").html("<tr><td colspan='3'>You have no pending requests.</td></tr>");
				}
			}
		});
		
		return false;
	}
	
	function requestCheckIn(bookCopyID, button) {
	// Request to check in book user is borrowing
		$.ajax({
			url: "/return_book/" + bookCopyID,
			type: 'GET',
			success: function(data) {
				$(button).attr("disabled", "");
				$(button).attr("onclick", "");
				$(button).html("Pending Confirmation");
			}
		});
		
		return false;
	}
	
	function checkIn(bookCopyID, button) {
	// Check in book user is lending
		$.ajax({
			url: "/return_book/" + bookCopyID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#books_lending tr:visible").length == 1) {
					$("#books_lending").html("<tr><td colspan='3'>You are not lending any books.");
				}
			}
		});
		
		return false;
	}


</script>

{% endblock %}

{% block content %}

	{% if user.is_authenticated() %}

		<div id="connectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" onclick="window.location='/'" aria-hidden="true">&times;</button>
			<h3 id="connectModalLabel">Send Request to Connect</h3>
		  </div>
		  <div class="modal-body">
			<p><span id="connectModalMessage"></span></p>
		  </div>
		  <div class="modal-footer">
			<a class="btn btn-inverse" id="connectModalSend" onclick="sendRequest()" data-dismiss="modal">Send Request</a>
			<a class="btn" id="connectModalCancel" data-dismiss="modal" onclick="window.location='/'">Cancel</a>
		  </div>
		</div>
	
		<div class="row">
			<div class="span12">

				<h3>Search to Find or Add Books</h3>

				<p>Search to find books available within your network or to add books to your library that you own and are willing to share.</p>

				<div id="searchBar">
					<form id="searchForm" action="/searchbooks">
					<input name="value" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN...">
					<button type="submit" class="btn" onclick="search_books()">Search</button>
					</form>
				</div>
			
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Pending Requests</h3>
				
				<table class="table table-striped table-bordered" id="pending_requests">
					{% if user.pending_actions|length < 1 %}
						<tr>
							<td colspan="3">You have no pending requests.</td>
						</tr>
					{% else %}
						{% for action in user.pending_actions %}
						<tr>
							<td style="vertical-align: middle">
								{{ action.text }}
							</td>
							<td style="vertical-align: middle">
								{{ action.created | timesince }}
							</td>
							<td style="text-align:center;width:200px">
								{% if action.can_accept %}
								<a class="btn btn-inverse" onclick="accept_request('{{ action.key.id() }}', this)" style="width:140px">
									{{ action.accept_text }}
								</a>
								{% endif %}
							</td>
							<td style="text-align:center;width:200px">
								{% if action.can_reject %}
								<a class="btn" onclick="reject_request('{{ action.key.id() }}', this)" style="width:140px">
									{{ action.reject_text }}
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					{% endif %}	
				</table>	
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Books I'm Borrowing</h3>
				
				<table class="table table-striped table-bordered" id="books_borrowing">
					{% if user.get_borrowed_books()|length < 1 %}
						<tr>
							<td colspan="3">You are not borrowing any books.</td>
						</tr>
					{% else %}
					<thead>
						<tr>
							<th>
								Book
							</th>
							<th>
								Book Owner
							</th>
							<th style="text-align:center;width:200px">
								Due Date
							</th>
							<th style="text-align:center;width:200px">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for book in user.get_borrowed_books() %}
						<tr>
							<td>
								{{ book.display() }}
							</td>
							<td>
								{{ book.get_owner() }}
							</td>
							<td style="text-align:center;">
								{{ book.due_date }}
							</td>
							<td style="text-align:center;">
								<a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="requestCheckIn('{{ book.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report book as checked in. Requires lender verification.">Check In</a>
							</td>
						</tr>
						{% endfor %}
					{% endif %}	
				</table>
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Books I'm Lending</h3>
				
				<table class="table table-striped table-bordered" id="books_lending">
					{% if user.get_lent_books()|length < 1 %}
						<tr>
							<td colspan="3">You are not lending any books.</td>
						</tr>
					{% else %}
					<thead>
						<tr>
							<th>
								Book
							</th>
							<th>
								Book Borrower
							</th>
							<th style="text-align:center;width:200px">
								Due Date
							</th>
							<th style="text-align:center;width:200px">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for book in user.get_lent_books() %}
						<tr>
							<td>
								{{ book.display() }}
							</td>
							<td>
								{{ book.get_borrower() }}
							</td>
							<td style="text-align:center;">
								{{ book.due_date }}
							</td>
							<td style="text-align:center;">
								<a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="checkIn('{{ book.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report book as checked in.">Check In</a>
							</td>
						</tr>
						{% endfor %}
					{% endif %}	
				</table>
			</div>
		</div>

	{% else %}
	
		<div id="introModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="introModalLabel">Welcome to BookOut</h3>
		  </div>
		  <div class="modal-body">
			<p>You've accessed a preview of BookOut, an open source web app created to make book sharing easier. The app is currently under development, but we encourage you to take a look around and provide feedback. Please be patient, as you'll likely come across incomplete features. Thanks!</p>
		  </div>
		  <div class="modal-footer">
			<a class="btn" id="introModalCancel" data-dismiss="modal">Continue</a>
		  </div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>BookOut: The Place to Share Books</h3>

				<p>BookOut is a personal library network, built to help users share physical books between friends. 
				With BookOut you can create an index, or library, of all your personal books, browse your friends' 
				libraries, and request to loan books from your friends. BookOut tracks the books you are loaning 
				and borrowing, and notifies you when items are due. <a href="/join">Join today!</a></p>

			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Discover books already on BookOut</h3>
				
				<div id="searchBar">
					<form id="searchForm" action="/searchbooks">
					<input name="value" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN...">
					<button type="submit" class="btn" onclick="search_books()">Search</button>
					</form>
				</div>

			</div>
		</div>

	{% endif %}

{% endblock %}
