<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript">
	function add_book(){
		isbn = $("#isbn").val();
		$.ajax({type:"POST",
				url:"{{ url_for('library_requests',OLKey='') }}" + isbn,
				success:function(result){
							alert(result);
							reload_booklist();
						}
				});
	}
	function remove_book(isbn){
		$.ajax({type:"DELETE",
			url:"{{ url_for('library_requests',OLKey='') }}" + isbn,
			success:function(result){
						alert(result);
						reload_booklist();
					}
			});
	}
	function reload_booklist(isbn){
			$.ajax({url:"{{ url_for('get_my_book_list') }}",
			success:function(result){
						$("#booklist").html(result);
					}
			});
	}
	</script>
</head>
<body>
<a href="{{ url_for('index') }}">&lt;&lt;&lt; Home</a><br/>
<a href="{{ logout_url }}">Logout</a><br/><br/>
<b>Hello, {{ username }}</b>
<hr/>
Add books to your library
<input id="isbn" type="text"/>
<button onclick="add_book();">Add</button>
<hr/>
<b>Your books</b>
<br/>
<div id="booklist">
{{ books | safe }}
</div>
</body>
</html>
