<!DOCTYPE html>

<html>

<head>

	<title>{% block title %}{% endblock %} | BookOut</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/maintemplate.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}"/>
	{% block style %}{% endblock %}

	<script type="text/javascript">
	
		function searchBooks() {
			document.getElementById('searchBarForm').submit();
		}
	
	</script>

</head>


<body>
	<div id="wrap">
		<div class="navbar navbar-inverse navbar-fixed-top main_nav">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand pull-left" href="{{ url_for('index') }}">BookOut</a>
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="float:left;">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% if user.is_authenticated() %}
						<ul class="nav pull-right" id="settings_dropdown">
				                	<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i>
								<span class="caret" style="margin-left:-3px"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/user/{{ user.get_id() }}">{{ user.email }}</a></li>
									<li class="divider"></li>
									<li><a href="/settings">Settings</a></li>
									<li><a href="/logout">Sign Out</a></li>
								</ul>
							</li>
				                </ul>
	<!-- In order to hide the header search bar on the searchbooks page, use the following if statement in the next line: 'if not request.path.startswith("/searchbooks/")' -->
						{% if True%}
							<form id="searchBarForm" class="navbar-search pull-right" action="/searchbooks">
								<span id="search_input_holder">
								<input type="text" class="search-query span4" placeholder="Search books by title, author, or ISBN" id="nav_search_input" name="value" />
								<input type="button" value="" onclick="searchBooks();"/>
								</span>
							</form>
						{% endif %}
					{% endif %}
					<div class="nav-collapse collapse">
						<ul class="nav">
							{% if user.is_authenticated() %}
							<li><a href="{{ url_for('library') }}">Library</a></li>
							<li><a href="{{ url_for('network') }}">Network</a></li>
							<li><a href="{{ url_for('discover') }}">Discover</a></li>
							{% else %}
							<li><a href="{{ url_for('about') }}">About</a></li>
							<li><a href="{{ url_for('login') }}">Login</a></li>
							<li><a href="{{ url_for('join') }}">Sign Up</a></li>
							{% endif %}
						</ul>
					</div>
					
		<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container content">
			
			{% block content %}
			{% endblock %}
			
		</div>
		<div id="push"></div>
	</div>
	
	<div id="footer">
		<div class="container">
			<!-- <div class="links"> -->
				<ul>
					<li><a href="{{ url_for('mobile_app') }}">Mobile App</a></li>
					<li><a href="http://github.com/byu-osl/bookout">GitHub Project Page</a></li>
					<li><a href="{{ url_for('donate') }}">Donate</a></li>
					<li><a href="{{ url_for('about') }}">Terms of Use</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
					<li><a href="{{ url_for('about') }}">Contact Us</a></li>
				</ul>
			<!-- </div> -->
		</div>
	</div>

	<script src="http://code.jquery.com/jquery.js"></script>

	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
	{% block script %}{% endblock %}

</body>

</html>

