{% extends "maintemplate.html" %}

{% block title %}Library{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	a.alert-link {
		color: #dd5600;
		cursor: pointer;
	}
	
	a.alert-link:hover {
		color: #dd5600;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>

<script type="text/javascript">
	var lastRemoveLink;
	var lastRemoveOLKey;

	function remove_book(bookOLKey, bookTitle, button){
		$.ajax({
			url:"/library/" + bookOLKey,
			type: 'DELETE',
			success:function(data) {
				$(button).parent().parent().hide();
				$("#undoMessage").show();
				$("#undoMessageBook").text(bookTitle);
				lastRemoveLink = button;
				lastRemoveOLKey = bookOLKey;
			}
		});
		return false;
	}
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		return false;
	}
	
	function undo_remove() {
		$.post("/library/" + lastRemoveOLKey, function(data) {
			$(lastRemoveLink).parent().parent().show();
			$("#undoMessage").hide();
		})
		return false;
	}

	$(function(){
		var counter = $(".book_qty").spinner();
	})
</script>

{% endblock %}

{% block content %}

<br>

<div class="row">
	
</div>

<div class="row" style="position: relative">
	<div class="span6 offset3" style="position: absolute; top: 50px;">
		<div id="undoMessage" class="alert" style="display: none;">
			<a class="close" onclick="hide_undo_message()">x</a>
			<span id="undoMessageBook"></span> was removed from your library.&nbsp;&nbsp;
			<strong><a onclick="undo_remove()" class="alert-link">Undo</a></strong>
		</div>
	</div>
  <div class="span12">
	
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#MyBooks" data-toggle="tab">My Books</a></li>
        <li><a href="#LendedBooks" data-toggle="tab">Lended Books</a></li>
        <li><a href="#BorrowedBooks" data-toggle="tab">Borrowed Books</a></li>
      </ul>
    </div>
      <div class="tab-content">
        <div class="tab-pane active" id="MyBooks">
          <h3 style="margin-top:-4px">Books I Own</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Book Title</th>
              <th>Author</th>
              <th style="text-align:center">Copies</th>
              <th></th>
            </tr>
            {% if myBooks == [] %}
              <tr>
                <td colspan="4">You haven't added any books to your library yet. To add books, search for the title, author, or ISBN in the search bar in the header. Once you've added books, they'll show up here.</td>
            {% endif %}
            {% for book in myBooks %}
              <tr>
                <td><a href="/book/{{book.OLKey}}">{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td style="text-align:center"><input id="book_qty" class="book_qty" style="width:1.5em;" value="1"/></td>
                <td style="text-align:center"><a class="btn btn-small" onclick="remove_book('{{book.OLKey}}', '{{book.title}}', this)"><i class="icon-remove"></i>&nbsp;&nbsp;Remove</a></td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="tab-pane" id="LendedBooks">

		<h3 style="margin-top:-4px">Books I'm Lending</h3>
		<table class="table table-striped table-bordered">
			<tr>
			  <th>Book</th>
			  <th>Book Owner</th>
			  <th>Due Date</th>
			  <th></th>
			</tr>
			{% if lendedBooks == [] %}
			  <tr>
				<td colspan="4">You don't currently have any books on loan. When you do, they'll show up here.</td>
			  </tr>
			{% endif %}
			{% for book in lendedBooks %}
			<tr>
			  <td><a href="/book/{{book.OLKey}}">{{book.title}}</a></td>
			  <td>[BOOK OWNER HERE]</td>
			  <td>[DUE DATE HERE]</td>
			  <td><a class="btn btn-small" href="#" onclick="request_to_return('bookcopyID')">Request to Return</a></td>
			</tr>
			{% endfor %}
		</table>

        </div>
        <div class="tab-pane" id="BorrowedBooks">
          <h3 style="margin-top:-4px">Books I'm Borrowing</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Book Title</th>
              <th>Author</th>
              <th>Copies</th>
              <th></th>
            </tr>
            {% if BorrowedBooks == [] %}
              <tr>
                <td colspan="4">You aren't currently borrowing any books. To borrow a book, search for the title or author in the search bar in the header. When you're borrowing books, they'll show up here.</td>
            {% endif %}
            {% for book in borrowedBooks %}
            <tr>
              <td><a href="/book/{{book.OLKey}}">{{book.title}}</a></td>
              <td>{{book.author}}</td>
              <td style="text-align:center"><input id="book_qty" style="width:1.5em;" value="1"/></td>
              <td style="text-align:center"><a class="btn btn-danger btn-small" href="#" onclick="remove_book('{{book.OLKey}}')">Remove</a></td>
            </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
</div>

{% endblock %}
