{% extends "maintemplate.html" %}

{% block title %}Library{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	a.alert-link {
		color: #dd5600;
		cursor: pointer;
	}
	
	a.alert-link:hover {
		color: #dd5600;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>

<script type="text/javascript">
	var lastRemoveLink;
	var lastRemoveOLKey;

	function remove_book(bookOLKey, bookTitle, button){
		$(button).attr("disabled", "disabled");
		$.ajax({
			url:"/library/" + bookOLKey,
			type: 'DELETE',
			success: function(data) {
				$(button).parent().parent().hide();
				$("#undoMessage").show();
				$("#undoMessageBook").text(bookTitle);
				lastRemoveLink = button;
				lastRemoveOLKey = bookOLKey;
				$(button).removeAttr("disabled");
			},
			error: function() {
				$(button).removeAttr("disabled");
			}
		});
		return false;
	}
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		return false;
	}
	
	function undo_remove() {
		$.post("/library/" + lastRemoveOLKey, function(data) {
			$(lastRemoveLink).parent().parent().show();
			$("#undoMessage").hide();
		})
		return false;
	}
	
	function requestCheckIn(bookCopyID, button) {
	// Request to check in book user is borrowing
		$.ajax({
			url: "/return_book/" + bookCopyID,
			type: 'GET',
			success: function(data) {
				$(button).attr("disabled", "");
				$(button).attr("onclick", "");
				$(button).html("Pending Confirmation");
			}
		});
		
		return false;
	}
	
	function checkIn(bookCopyID, button) {
	// Check in book user is lending
		$.ajax({
			url: "/return_book/" + bookCopyID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#books_lending tr:visible").length == 1) {
					$("#books_lending").html("<tr><td colspan='3'>You aren't currently lending any books. When you are, they'll show up here.");
				}
			}
		});
		
		return false;
	}
	
	function add_hash(url_hash){
		window.location.hash = url_hash;
	}

	$(function(){
		if(window.location.hash){
			if(window.location.hash == "#LendedBooks") $("#lended_books").click();
			else if (window.location.hash == "#BorrowedBooks") $("#borrowed_books").click();
		}
	})
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
</script>

{% endblock %}

{% block content %}

<br>

<div class="row">
	
</div>

<div class="row" style="position: relative">
	<div class="span6 offset3" style="position: absolute; top: 50px;">
		<div id="undoMessage" class="alert" style="display: none;">
			<a class="close" onclick="hide_undo_message()">&times;</a>
			<span id="undoMessageBook"></span> was removed from your library.&nbsp;&nbsp;
			<strong><a onclick="undo_remove()" class="alert-link">Undo</a></strong>
		</div>
	</div>
  <div class="span12">
	
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#MyBooks" data-toggle="tab" id="my_books" onclick='add_hash("MyBooks")'>My Books</a></li>
        <li><a href="#LendedBooks" data-toggle="tab" id="lended_books" onclick='add_hash("LendedBooks")'>Lended Books</a></li>
        <li><a href="#BorrowedBooks" data-toggle="tab" id="borrowed_books" onclick='add_hash("BorrowedBooks")'>Borrowed Books</a></li>
      </ul>
    </div>
      <div class="tab-content">
        <div class="tab-pane active" id="MyBooks">
          <h3 style="margin-top:-4px">Books I Own</h3>
          <table class="table table-striped table-bordered">
            {% if myBooks|length < 1 %}
              <tr>
                <td colspan="4">You don't have any books in your library. To add books, search for the title, author, or ISBN in the search field inside the header. Once you've added books, they'll show up here.</td>
            {% else %}
				<tr>
				  <th>Book Title</th>
				  <th>Author</th>
				  <th>Lend Status</th>
				  <th style="width:100px"></th>
				</tr>
				{% for book in myBooks %}
				  <tr>
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
					<td>{% if book.available %}Available
						{% else %}On Loan{% endif %}</td>
					<td style="text-align:center"><a class="btn btn-small" onclick="remove_book('{{book.OLKey}}', '{{ book.escapedtitle }}', this)"><i class="icon-remove"></i>&nbsp;&nbsp;Remove</a></td>
				  </tr>
				{% endfor %}
			{% endif %}
          </table>
        </div>
        <div class="tab-pane" id="LendedBooks">

		<h3 style="margin-top:-4px">Books I'm Lending</h3>
		<table class="table table-striped table-bordered" id="books_lending">
			{% if user.get_lent_books()|length < 1 %}
			<tr>
				<td colspan="4">You aren't currently lending any books. When you are, they'll show up here.</td>
			</tr>
			{% else %}
				<tr>
				  <th>Book Title</th>
				  <th>Book Borrower</th>
				  <th style="text-align:center;width:200px">Due Date</th>
				  <th style="text-align:center;width:200px"></th>
				</tr>
				{% for book in user.get_lent_books() %}
				<tr>
				  <td>{{ book.display() }}</td>
				  <td>{{ book.get_borrower() }}</td>
				  <td style="text-align:center;">{{ book.due_date }}</td>
				  <td style="text-align:center;">
				    <a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="checkIn('{{ book.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report book as checked in.">Check In</a>
				  </td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>

        </div>
        <div class="tab-pane" id="BorrowedBooks">
          <h3 style="margin-top:-4px">Books I'm Borrowing</h3>
          <table class="table table-striped table-bordered" id="books_borrowing">
            {% if user.get_borrowed_books()|length < 1 %}
              <tr>
                <td colspan="4">You aren't currently borrowing any books. To borrow a book, search for the title or author in the search bar in the header. When you're borrowing books, they'll show up here.</td>
			  </tr>
			{% else %}
				<tr>
				  <th>Book Title</th>
				  <th>Book Borrower</th>
				  <th style="text-align:center;width:200px">Due Date</th>
				  <th style="text-align:center;width:200px"></th>
				</tr>
				{% for book in user.get_borrowed_books() %}
				<tr>
				  <td>{{ book.display() }}</td>
				  <td>{{ book.get_owner() }}</td>
				  <td style="text-align:center">{{ book.due_date }}</td>
				  <td style="text-align:center">
					<a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="requestCheckIn('{{ book.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report book as checked in. Requires lender verification.">Check In</a>
				  </td>
				</tr>
				{% endfor %}
			{% endif %}
          </table>

        </div>
      </div>
    </div>
</div>

{% endblock %}
