
{% extends "maintemplate.html" %}

{% block title %}Mobile App{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">

		<h3>Mobile App</h3>

		<p>A BookOut Mobile App is not yet available. However, all hope is not lost! BookOut can be accessed on your mobile device through your mobile web browser. Not satisifed? Feel free to help us build our mobile app. Visit our <a href="http://github.com/byu-osl/bookout-mobile">GitHub Mobile App project page</a> to get started.</p>

	</div>
</div>

{% endblock %}