
{% extends "maintemplate.html" %}

{% block title %}Network{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
	
		<h3>Network</h3>

		<p>...Table for "My Connections" tab, listing all current connections, will go here...</p>
		
		<p>...Table for "Invite by E-mail" tab, displaying message to send, will go here...</p>
		
		<p>...Table for "Connect with Facebook" tab, listing all Facebook friends, will go here...</p>
		
		<p>...Table for "Invite by Link" tab, displaying invitation link, will go here...</p>
	
	</div>
</div>

{% endblock %}