
{% extends "maintemplate.html" %}

{% block title %}{{ profile_user.name }}'s Profile{% endblock %}

{% block style %}

<style type="text/css">
	.in-library-button	{
		margin-bottom: 10px;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

<script type="text/javascript">
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
	function borrow_book(bookCopyID, button) {
		$.getJSON("/setup_book_borrow/" + {{ profile_user.get_id() }} + "/" + bookCopyID, function(data) {
			$(button).attr("disabled", "");
			$(button).attr("onclick", "");
			$(button).html("Requested");
			$(button).tooltip("destroy").attr("title", "Book has been requested").tooltip({trigger: "hover"});
		});
	}
</script>

{% endblock %}

{% block content %}

{% if profile_user %}
<div class="row">
	<div class="span12">
		<h3>User Profile</h3>
		<table class="infoTable">
			<tr>
				<td class="infoLabel">Name:</td>
				<td>{{ profile_user.name }}</td>
			</tr>
			<tr>
				<td class="infoLabel">Info:</td>
				<td>{{ profile_user.info }}</td>
			</tr>
		<table>
	</div>
</div>
<br/>
<div class="row">
	<div class="span12">
		<h4>{{ profile_user.name }}'s Books</h4>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Book Title</th>
				<th>Author</th>
				<th style="width:160px;text-align:center">{% if profile_user.get_id() == user.get_id() %}Lend Status{% endif %}</th>
			</tr>
			{% if library|length < 1 %}
			<tr>
				<td colspan='3'>You don't have any books in your library. To add books, search for the title, author, or ISBN in the search field inside the header. Once you've added books, they'll show up here.</td>
			</tr>
			{% endif %}
			{% for book in library %}
			<tr>
				<td>{{ book.title }}</td>
				<td>{{ book.author }}</td>
				<td style="text-align:center">
				{% if profile_user.get_id() == user.get_id() %}
					{% if book.available %}Available
					{% else %}On Loan
					{% endif %}
				{% else %}
					{% if book.available %}
					<a class="btn btn-inverse tooltip-button"
						style="width:120px"
						onclick="borrow_book('{{ book.copyid }}', this)"
						data-toggle="tooltip" 
						data-placement="right"
						title="Request to borrow book from {{ profile_user.name }}">
						Request&nbsp;to&nbsp;Borrow</a>
					{% else %}
					<a class="btn btn-inverse tooltip-button disabled"
						style="width:120px"
						data-toggled="tooltip"
						data-placement="right"
						title="Book not available">
						Unavailable</a>
					{% endif %}
				{% endif %}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% elif exists == False %}
Error: user doesn't exist
{% elif connected == False %}
Error: you are not connected to this user
{% endif %}

{% endblock %}
