
{% extends "maintemplate.html" %}

{% block title %}Search Books{% endblock %}

{% block style %}

<style type="text/css">
	#inLibraryButton {
		margin-bottom: 10px;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript">
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
		
		switch("{{attribute}}"){
			case "all":
				$("#searchAll").attr("checked", "true");	
				break;
			case "title":
				$("#searchTitle").attr("checked", "true");
				break;
			case "author":
				$("#searchAuthor").attr("checked", "true");
				break;
			case "isbn":
				$("#searchISBN").attr("checked", "true");
				break;
			default:
				$("#searchAll").attr("checked", "true");
		}
		
		$("input[name='refineSearch']").change(function(){
			$(this).closest("form").submit();
		});
	});

	function add_book(bookOLKey, button){
		$(button).attr("disabled", "");
		$.post("/library/" + bookOLKey, function(data) {
			$(button).text("In Library");
			$(button).removeAttr("disabled");
			$(button).attr("onclick", "");
			$(button).attr("href", "\library");
			$(button).tooltip("destroy");
			$(button).attr("class", "btn btn-primary tooltip-button");
			$(button).attr("title", "Book is already in your library. Click to view library.");
			$(button).tooltip({trigger: "hover"});
		}).fail(function() {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function request_book(bookOLKey){
		alert("Something happens.");
		return false;
	}
</script>

{% endblock %}

{% block content %}

<form id="searchForm" action="/searchbooks">
<div class="row">
	<div class="span2">
		<br/>
		<h3>Book Search:</h3>
	</div>
	<div class="span10">
		<br/>
		<h3>
			
			<input name="value" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN..." value="{{ search }}">
			<button type="submit" class="btn">Search</button>
			
		</h3>
	</div>
</div>
<br/>

<div class="row">
	<div class="span2">
		<div class="well">
			<h5>Filter Results:</h5>
			<label class="checkbox"><input type="checkbox">Show out-of-network books</label>
		</div>
		<div class="well">
			<h5>Refine Search:</h5>
			<label class="radio"><input type="radio" id="searchAll" name="refineSearch" value="all">All results</label>
			<label class="radio"><input type="radio" id="searchTitle" name="refineSearch" value="title">Title only</label>
			<label class="radio"><input type="radio" id="searchAuthor" name="refineSearch" value="author">Author only</label>
			<label class="radio"><input type="radio" id="searchISBN" name="refineSearch" value="isbn">ISBN only</label>
		</div>
	</div>
	
	<div class="span10">
		{% if books == False %}
		{% else %}
			<table class="table">
			{% for book in books %}
				<tr>
					<td><img src="{{ books[book].thumbnail_link }}" style="height:auto;width:100px;"/></td>
					<td>
						Title: {{ books[book].title }}<br/>
						Author: {{ books[book].author }}
					</td>
					<td>
						{% if books[book].inLibrary == "False" %}
							<a class="btn btn-inverse tooltip-button"
								style="width:120px" 
								id="inLibraryButton"
								{% if user.is_authenticated() == False %}disabled{% endif %} 
								onclick="{% if user.is_authenticated() %}add_book('{{ books[book].OLKey }}', this){% endif %}" 
								data-toggle="tooltip" data-placement="right"
								title="{% if user.is_authenticated() %}Add to library and make available to your network{% 
								else %}Join or login to add to your library{% endif %}">Add&nbsp;to&nbsp;Library</a><br/>
						{% else %}
							<a class="btn btn-primary tooltip-button" 
								style="width:120px" 
								id="inLibraryButton" 
								data-toggle="tooltip" data-placement="right"
								title="Book is already in your library. Click to view library." 
								href="\library">In&nbsp;Library</a><br/>
						{% endif %}
						
						{% if books[book].inNetwork == "False" %}
							<a class="btn tooltip-button" 
								style="width:120px"
								data-toggle="tooltip" data-placement="right"
								title="Not available in your network" 
								disabled>Request&nbsp;to&nbsp;Borrow</a>
						{% else %}
							<a class="btn tooltip-button"
								style="width:120px" 
								{% if user.is_authenticated() == False or True %}disabled{% endif %} 
								onclick="{% if user.is_authenticated() and False %}request_book('{{ books[book].OLKey }}'){% endif %}"
								data-toggle="tooltip" data-placement="right"
								title="{% if user.is_authenticated() and False %}Request to borrow book from one of your connections{% 
								elif user.is_authenticated() %}{% 
								else %}Join or login to request to borrow books{% endif %}">Request&nbsp;to&nbsp;Borrow</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
</div>
</form>

{% endblock %}
