
{% extends "maintemplate.html" %}

{% block title %}Search Books{% endblock %}

{% block content %}

<script type="text/javascript">
	function add_book(bookISBN){
		$.post("/library/" + bookISBN, function(data) {
			alert(data);
		});
	}
</script>


<div class="row">
	<div class="span2">
		<br/>
		<h3>Book Search:</h3>
	</div>
	<div class="span10">
		<br/>
		<h3>
			<input type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN..." value="{{ search }}">
			<button type="submit" class="btn">Search</button>
		</h3>
	</div>
</div>
<br/>

<div class="row">
	<div class="span2">
		<div class="well">
			<h5>Filter Results:</h5>
			<label class="checkbox"><input type="checkbox">Show out-of-network books</label>
		</div>
		<div class="well">
			<h5>Refine Search:</h5>
			<label class="radio"><input type="radio" name="refineSearch">All results</label>
			<label class="radio"><input type="radio" name="refineSearch">Title only</label>
			<label class="radio"><input type="radio" name="refineSearch">Author only</label>
			<label class="radio"><input type="radio" name="refineSearch">ISBN only</label>
		</div>
	</div>
	
	<div class="span10">
		{% if books == False %}
		{% else %}
			<table class="table">
			{% for book in books %}
				<tr>
					<td><img src="{{ books[book].thumbnail_link }}" style="height: 125px;"/></td>
					<td>Title: {{ books[book].title }}<br/>
						Author: {{ books[book].author }}<br/>
						ISBN: {{ books[book].isbn }}</td>
					<td><a href="#" class="btn" onclick="add_book({{ books[book].isbn }})">Add to Library</a><br/><br/>
						<a href="#" class="btn btn-inverse" disabled>Request to Borrow</a></td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
</div>

{% endblock %}