<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript">
	function lookup_book(){
		isbn = $("#isbn").val();
		$.ajax({url:"{{ url_for('lookup_book',ISBN='') }}" + isbn,success:function(result){
			$("#result").html(result);
		}});
	}
	</script>
</head>
<body>
	<a href="{{ url_for('index') }}">&lt;&lt; index</a><br/>
	<input id="isbn" type="text"/>
	<button onclick="lookup_book();">Search</button>
	<div id="result"></div>
</body>
</html>
