
{% extends "maintemplate.html" %}

{% block title %}Search Books{% endblock %}

{% block style %}

<style type="text/css">
	.in-library-button {
		margin-bottom: 10px;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

<script type="text/javascript">
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
		
		switch("{{attribute}}"){
			case "all":
				$("#searchAll").attr("checked", "true");	
				break;
			case "title":
				$("#searchTitle").attr("checked", "true");
				break;
			case "author":
				$("#searchAuthor").attr("checked", "true");
				break;
			case "isbn":
				$("#searchISBN").attr("checked", "true");
				break;
			default:
				$("#searchAll").attr("checked", "true");
		}
		
		if ($.cookie("{{ user.get_id() }}")) $("#show_out_of_network_books_checkbox").removeAttr("checked");
		
		$("#show_out_of_network_books_checkbox").change(function(){
			if($.cookie("{{ user.get_id() }}")) $.removeCookie("{{ user.get_id() }}");
			if(!$(this).is(":checked")) $.cookie("{{ user.get_id() }}", "true", {expires:365});
		});
		
		$("input[name='refineSearch']").change(function(){
			$(this).closest("form").submit();
		});
	});

	function add_book(bookOLKey, button){
		$(button).attr("disabled", "");
		$.post("/library/" + bookOLKey, function(data) {
			$(button).text("In Library");
			$(button).attr("onclick", "");
			$(button).attr("href", "\library");
			$(button).removeClass("btn-inverse").addClass("btn-primary");
			$(button).tooltip("destroy").attr("title", "Book is already in your library. Click to view library.").tooltip({trigger: "hover"});
		});
		$(button).removeAttr("disabled");
		
		return false;
	}
	
	function request_book(bookOLKey){
		$.getJSON("/search/inNetwork/" + bookOLKey, function(data) {
			$.each(data, function(key, val) {
				//var stuff = "";
				//$.each(val, function(ikey, ival) {
				//	stuff += ikey + ": " + ival + ", ";
				//})
				
				var link = $('<a>', {
					'class': 'btn btn-inverse',
					onclick: 'borrow_book("' + val.bookCopyID + '", "' + key + '", this)',
					html: 'Request to Borrow'
				});
				if(!val.available) {
					link.attr("disabled", "");
				}
				
				$('#borrowTable').empty();
				$('#borrowTable')
				.append(
					$('<tr>')
					.append(
						$('<td>', {
							html: val.username
						}))
					.append(
						$('<td>')
						.append(
							link
						)
					)
				);
			});
			$("#borrowModal").modal('show');
		});
		
		return false;
	}
	
	function borrow_book(bookCopyID, lenderID, button) {
		$.ajax("/setup_book_borrow/" + lenderID + "/" + bookCopyID, function(data) {
			alert(data);
			button.html("Requested");
		});
	}
</script>

{% endblock %}

{% block content %}

<form id="searchForm" action="/searchbooks">
<div class="row">
	<div class="span2">
		<br/>
		<h3>Book Search:</h3>
	</div>
	<div class="span10">
		<br/>
		<h3>
			
			<input name="value" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN..." value="{{ search }}">
			<button type="submit" class="btn">Search</button>
			
		</h3>
	</div>
</div>
<br/>

<div class="row">
	<div class="span2">
		<div class="well">
			<h5>Filter Results:</h5>
			<label class="checkbox"><input type="checkbox" checked="checked" id="show_out_of_network_books_checkbox">Show out-of-network books</label>
		</div>
		<div class="well">
			<h5>Refine Search:</h5>
			<label class="radio"><input type="radio" id="searchAll" name="refineSearch" value="all">All results</label>
			<label class="radio"><input type="radio" id="searchTitle" name="refineSearch" value="title">Title only</label>
			<label class="radio"><input type="radio" id="searchAuthor" name="refineSearch" value="author">Author only</label>
			<label class="radio"><input type="radio" id="searchISBN" name="refineSearch" value="isbn">ISBN only</label>
		</div>
	</div>
	
	<div class="span10">
		{% if books == False %}
		<h4>There has been an error.  Please try again.</h4>
		{% elif books|length < 1 %}
		<h4>No books were found that match your search.  Try using more general search terms.</h4>
		{% else %}
			<table class="table">
			{% for book in books %}
				<tr>
					<td><img {% if books[book].thumbnail_link == "" %}src="{{ url_for('static', filename='img/nocoverart.png') }}"
							{% else %}src="{{ books[book].thumbnail_link }}"{% endif %} 
							style="height:auto;width:100px;"/></td>
					<td>
						Title: {{ books[book].title }}<br/>
						Author: {{ books[book].author }}
					</td>
					<td>
						{% if books[book].inLibrary == "False" %}
							<a class="btn btn-inverse tooltip-button in-library-button"
								style="width:120px"
								{% if user.is_authenticated() == False %}disabled{% endif %} 
								onclick="{% if user.is_authenticated() %}add_book('{{ books[book].OLKey }}', this){% endif %}" 
								data-toggle="tooltip" data-placement="right"
								title="{% if user.is_authenticated() %}Add to library and make available to your network{% 
								else %}Join or login to add to your library{% endif %}">Add&nbsp;to&nbsp;Library</a><br/>
						{% else %}
							<a class="btn btn-primary tooltip-button in-library-button" 
								style="width:120px"
								data-toggle="tooltip" data-placement="right"
								title="Book is already in your library. Click to view library." 
								href="\library">In&nbsp;Library</a><br/>
						{% endif %}
						
						{% if books[book].inNetwork == "False" %}
							<a class="btn tooltip-button" 
								style="width:120px"
								data-toggle="tooltip" data-placement="right"
								title="Not available in your network" 
								disabled>Request&nbsp;to&nbsp;Borrow</a>
						{% else %}
							<a class="btn tooltip-button"
								style="width:120px" 
								{% if user.is_authenticated() == False %}disabled{% endif %}
								onclick="{% if user.is_authenticated() %}request_book('{{ books[book].OLKey }}'){% endif %}"
								data-toggle="tooltip" data-placement="right"
								title="{% if user.is_authenticated() %}Request to borrow book from one of your connections{% 
								else %}Join or login to request to borrow books{% endif %}">Request&nbsp;to&nbsp;Borrow</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
</div>
</form>

<div id="borrowModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="borrowModalLabel">Users Who Have This Book</h3>
  </div>
  <div class="modal-body">
    <table id="borrowTable" class="table">
	</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

{% endblock %}
