
{% extends "maintemplate.html" %}

{% block title %}Settings{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">

		<h3>Lending Settings</h3>

		<label for="lending_length" style="display:inline-block">Default Lending Length (Days):</label>
		<input id="lending_length" style="width:1.5em;" value="14" />
	
	</div>
</div>

<div class="row">
	<div class="span12">

		<h3>Notifications</h3>
		Receive Notifications Via:
		<!-- <div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				{ Selected Method }
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a tabindex="-1" href="#">Email</a></li>
				<li><a tabindex="-1" href="#">Mobile App</a></li>
				<li><a tabindex="-1" href="#">Both</a></li>
			</ul>
		</div> -->
		<select id="notification_settings" style="vertical-align:baseline">
			<option>Email</option>
			<option>Mobile App</option>
			<option>Both</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="span12">

		<h3>Manage Network</h3>
		
		<p>Display your connections, add connections via facebook, or invite your friends to join BookOut through the <a href="/network">Network</a> page.</p>

	</div>
</div>

<div class="row">
	<div class="span12">

		<h3>User Profile</h3>
		
		<p>Display name to connections: <input type="text" id="display_name" value="{{ user.name }}" style="vertical-align:baseline" /></p> 
		
		<p>Additional info available to connections:</p>
		
		<textarea placeholder="Enter any additional info you would like to have visible to your contacts, such as your contact info, address, or favorite food." style="width:400px;height:125px;">{{ user.info }}</textarea>

	</div>
</div>

<div class="row">
	<div class="span12">

		<a class="btn btn-inverse" href="#">
			Save Changes
		</a>
		<a class="btn" href="#">
			Cancel
		</a>

	</div>
</div>

<div style="margin-bottom:25px;"></div>
{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>

{% endblock %}