
{% extends "maintemplate.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="row">
	<div class="span13">

		<h3>Lending Settings</h3>

		<p>Default Lending Length:</p> ...The option drop-down menu will go here... <p>Days</p>
	
	</div>
</div>

<div class="row">
	<div class="span13">

		<h3>Notifications</h3>
		
		<p>Receive notifications via:</p> ...The option drop-down menu will go here...

	</div>
</div>

<div class="row">
	<div class="span13">

		<h3>Manage Network</h3>
		
		<p><a href="#manageNetwork">Click here</a> to manage your network.</p>

	</div>
</div>

<div class="row">
	<div class="span13">

		<h3>User Profile</h3>
		
		<p>Display name to connections: </p> ...The textfield to enter name to display will go here... ...(default to first name + last initial)...
		
		<p>Additional info available to connections:</p>
		
		...Textbox to "Enter any additional info you would like to have visible to your contaacts, such as your contact info, address, or favorite food..." will go here...

	</div>
</div>
{% endblock %}