
{% extends "maintemplate.html" %}

{% block title %}Daniel Z.{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<h3>User Profile</h3>
		<table class="infoTable">
			<tr>
				<td class="infoLabel">Name:</td>
				<td>Daniel Z.</td>
			</tr>
			<tr>
				<td class="infoLabel">Info:</td>
				<td>My name is Daniel Z, but they call me Dr. Z or Coach Z. I'm a CS 
				professor at BYU and sponsored the creation of this site. Feel 
				free to email me anytime: daniel.z@email.com</td>
			</tr>
		<table>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Daniel Z.'s Books</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Book Title</th>
				<th>Author</th>
				<th>Checkout Status</th>
			</tr>
			<tr>
				<td>Book A</td>
				<td>Author A</td>
				<td>Available</td>
			</tr>
			<tr>
				<td>Book B</td>
				<td>Author B</td>
				<td>Available</td>
			</tr>
			<tr>
				<td>Book C</td>
				<td>Author C</td>
				<td>Unavailable</td>
			</tr>
			<tr>
				<td>Book D</td>
				<td>Author D</td>
				<td>Unavailable</td>
			</tr>
			<tr>
				<td>Book E</td>
				<td>Author E</td>
				<td>Available</td>
			</tr>
			<tr>
				<td>Book F</td>
				<td>Author F</td>
				<td>Unavailable</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}